.dash_container {
  /* border: 2px solid red; */
  padding: 20px 10px;
  /* height: 90vh; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: white;
}
/*  */

.bar_container {
  /* border: 2px solid red; */
  /* background-color: white; */
  color: aqua;
  color: white;
}

.piechart {
  /* border: 2px solid red; */
  width: 40vh;
  height: 30%;
  /* text-align: center; */
  cursor: pointer;
  color: white;
}

.pie {
  border: 2px solid #2d2761;
  /* border: 2px solid red; */
  color: white;

  padding: 10px;
  /* height: auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(26, 24, 24, 0.24) 0px 13px 18px;
  margin: 1rem 0;
  padding: 10px 0;
}

.content1 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.pie .heading {
  text-align: center;
  text-decoration: dotted;
}

.heading1 {
  padding: 20px;
}
.heading1 h2 {
  color: white;
  font-size: 30px;
}
.bar {
  padding: 10px 0;
  /* border: 2px solid #2d2761; */
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  /* box-shadow: rgba(26, 24, 24, 0.24) 0px 13px 18px; */
}

.student_details {
  /* border: 2px solid red; */
  margin-right: 30px;
  background-color: #2d2761;
  /* box-shadow: rgba(246, 220, 220, 0.24) 0px 13px 18px; */

  padding: 50px 20px 0;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  font-size: larger;
  width: 40vh;

  color: white;
}
.labels {
  /* border: 2px solid red; */
  margin-right: 30px;
  padding: 10px 10px;
  color: white;
}
.labels h5 {
  margin-bottom: 20px;
  margin-top: 10px;
  color: white;
}


@media only screen and (min-width: 300px) and (max-width:400px){

  .content1{
    /* border: 2px solid red; */
    /* margin-top: -30px; */
    width: 260px;
    padding: 10px;
    padding-top: 0px;
    position: relative;
  }
  .piechart{
    /* border: 2px solid red; */
    height: 100%;
    /* margin-top: 0px; */
    position: absolute;
    left: 25px;
    /* top: 5px; */
  }
  .box1content{
    min-width: 50%;
    /* border: 2px solid blue; */
  }

 
}

@media only screen and (min-width: 600px) and (max-width : 1200px){
  .content1{
    /* border: 2px solid red !important; */
    /* margin-top: -30px; */
    /* width: 260px; */
    /* padding: 10px; */
    /* padding-top: 0px; */
    position: relative;
  }
  .piechart{
    /* border: 2px solid red; */
    height: 300px;
    /* margin-top: 0px; */
    position: absolute;
    right: 20px;
    top: -10px;
    
    min-width: 250px;

  }
  .box1content{
    min-width: 50%;
    /* border: 2px solid white; */
  }


}


@media only screen and (min-width: 1201px){
  .content1{
    /* border: 2px solid red; */
    /* margin-top: -30px; */
    width: 260px;
    /* padding: 10px; */
    /* padding-top: 0px; */
    position: relative;
  }
  .piechart{
    /* border: 2px solid red; */
    height: 300px;
    /* margin-top: 0px; */
    position: absolute;
    right: 20px;
    top: -10px;
    
    min-width: 250px;

  }
  .box1content{
    min-width: 50%;
    /* border: 2px solid white; */
  }


}

@media only screen and (min-width: 400px) and (max-width : 800px){
  .content1{
    /* border: 2px solid red; */
    /* margin-top: -30px; */
    width: 260px;
    padding: 10px;
    /* padding-top: 0px; */
    position: relative;
  }
  .piechart{
    /* border: 2px solid white; */
    /* height: 100%; */
    /* margin-top: 0px; */
    position: absolute;
    left: 0px;
    top: -35px;
    height: 100px;
    min-width: 100px !important;
  }

  .resultsinglerow{
    border: 2px solid red;
  }

}
