.sidebar {
  width: 320px;
  height: 100%;
  /* border: 2px solid red; */
  font-size: 20px !important;
  white-space: nowrap;
  padding: 10px 5px;
  background-color: black;
  color: var(--clr10);
  display: flex;
  flex-direction: column;

  -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  
 
}
.dashhead{
  cursor: pointer;
}

.upToDownAnimation{
  animation-name: uptodown;
  animation-duration: 0.2s;

}
@keyframes uptodown {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.downToUpAnimation{
  animation-name: downtoup;
  animation-duration: 2s;

}
 
@keyframes downtoup {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}





.dashclickAnimation{
  animation-name: leftExit;
  animation-duration: 0.5s;
  /* width: 320px !important; */
  /* border: 2px solid white; */

  /* width: 120px; */
}
 

@keyframes leftEnter {
  from {
    width: 0px;
  }
  to {
    width: 320px;
  }
}
@keyframes leftExit {
  from{
    width: 320px !important;
  }
  to{
    width: 0px !important;
  }
}

.sidebar h1 {
  background-image: linear-gradient(90deg, #00e7e7, #8946df);
  color: white;
  margin: 5px;
  /* padding: 10px; */
  border-radius: 10px;
  font-size: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* .sidebar:hover {
  animation-name: leftEnter;
  animation-duration: 0.5s;
  width: 20vw;
} */

.sidebar-item {
  border: 1px solid var(--clr2);
  border-radius: 5px;
  padding: 5px;
  /* width: 100%; */
  height: 50px;
  font-size: 17px;
  white-space: nowrap;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* border: 2px solid red; */
  cursor: pointer;
}
.sidebar-item-inner {
  border: 1px solid var(--clr2);
  border-radius: 5px;
  padding: 5px;

  height: 40px;
  font-size: 15px;
  white-space: nowrap;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item:hover {
  border: 2px solid var(--clr10);
  cursor: context-menu;
  font-size: 20px;
}
.sidebar-item-inner:hover {
  border: 2px solid var(--clr10);
  cursor: context-menu;
  font-size: 16px;
}


/*  */

@media screen and (max-width: 700px) {
    .sidebar {
      margin: 0px;
      /* max-width: 120% !important; */
      width: 100% !important;
      height: 100%; 
      flex-wrap: wrap;
      /* border: 2px solid white ; */
      /* flex-direction: row !important; */


      /* position: relative; */
    }
    .sidebar h1 {
      font-size: 15px;
    }
    .sidebar div {
      font-size: 12px;
      margin-left: 0;
    }
  }
  
  
  
  /* @media only screen and (min-width: 400px) and (max-width:800px){
    .sidebar{
      /* background-color: #00e7e7; */
      /* min-width: 0% !important; */
    /* max-width: 50% !important; */
    /* height: 100%; */
    /* border: 2px solid red; */
    /* flex-direction: row; */
    /* order: 3; */
    /* }
    .sidebar h1{
    font-size: 20px;
  }

  .sidebar-item{
    font-size: 14px;
  } */ 
  /* } */

  
